<div class="content-box">
   <form (ngSubmit)="onButtonClicked()">
    <div>
      <label for="name">Name:
        <input
          name="name"
          id="name"
          type="text"
          [(ngModel)]="name"/>
      </label>
    </div>
    <div>
      <label for="name">Description:
        <input
          name="description"
          id="description"
          type="text"
          [(ngModel)]="description"/>
      </label>
    </div>
    <div>
      <label for="price">Price:
        <input
          name="price"
          id="price"
          type="text"
          [(ngModel)]="price"/>
      </label>
    </div>

    <button type="submit">{{buttonText}} </button>
  </form>


</div>
